@model List<tangti.Models.History>
@using tangti.Models
@{
    ViewBag.Title = "All Historys";
}

<head>
    <link rel="stylesheet" href="~/css/history.css" asp-append-version="true" />
</head>

<div class="heading">
    <h1>History</h1>
</div>
<div class="containers">
    <table class="customers">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model[0].EventName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model[0].JoinDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        <a href="Event/Details/@item.EventId" @Html.DisplayFor(modelItem =>
                        item.EventName)>@item.EventName</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.JoinDate)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    var user_id = localStorage.getItem("id");


    if(!user_id){
        //to login page
        window.location.href = "/Login";
    }

    $(document).ready(function() {
        
        // Hide rows where UserId does not match user_id
        $('#dataTable tr').each(function() {
            var userId = $(this).find('td:eq(1)').text().trim();

            if (userId !== user_id) {
                $(this).hide();
            }
        });
    });
</script>
