@model List<tangti.Models.Event>
@using tangti.Models
@{
    ViewBag.Title = "All Events";
}

<h2>All Events</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

@using (Html.BeginForm("Index", "Event", FormMethod.Get, new { id = "searchForm" })) {    

    <p> 
        Title: @Html.TextBox("SearchString") 
        <input type="submit" value="Search" />
        <br/>
        <label for="category" class="control-label">Category:</label>
        <select id="category" name="category" class="form-control" >
            <option value="">All</option>
            @foreach(var category in ViewBag.Categories_list) {  
                <option value="@category" selected="@(ViewBag.Category == category)">@category</option>
            }
        </select>
        
    </p> 
}





<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <td>
                @Html.DisplayNameFor(model => model[0].EnrollLimit)
            </td>
            <td>
                Event start
            </td>
            <td>
                Event end
            </td>
            <td>
                Enroll start
            </td>
            <td>
                Enroll end
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollDate.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollDate.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page: @for (int i = 1; i <= ViewBag.TotalCount / ViewBag.PageSize + 1; i++)
    {
        <a href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize, searchString = ViewBag.SearchString })">@i</a>
    }
</div>


<script>
    // Attach an event listener to the category select element
    document.getElementById("category").addEventListener("change", function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        // Submit the form when category selection changes
        document.getElementById("searchForm").submit();
    });


</script>