@model List<tangti.Models.Event>
@using tangti.Models
@{
    ViewBag.Title = "All Events";
}

<h2>All Events</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <td>
                @Html.DisplayNameFor(model => model[0].EnrollLimit)
            </td>
            <td>
                Event start
            </td>
            <td>
                Event end
            </td>
            <td>
                Enroll start
            </td>
            <td>
                Enroll end
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollDate.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollDate.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
